env/
*__pycache__
store/adminViews.py
store/myStatic/
store/decorator.py
main/settings.py
store/signals.py
main/urls.py
media/
static/
templates/admin_section/
templates/base/
*.sqlite3
*.pyc
*.pyo
*.pyd
*.log
.env
*.cache
*.mo
*.pot
.venv/
.idea/
.vscode/
Thumbs.db